<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    <!--<h1>welcome to the static </h1>
    <button class="btn btn-danger"> hello  </button>-->
    {{>navbar}}

    <!-- main header -->

    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/error.jpg" alt="neel" class="img-fluiderr" title="neel chodvadiya">
                      </figure> 
                    

                  
                        <p> Welcome to neel website </p>
                       <h1>{{errorMsg}}</h1>
                        <a href="/"  ><button>Home page </button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footr code-->
    {{>footer}}
            </body>

</html>