<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    <!--<h1>welcome to the static </h1>
    <button class="btn btn-danger"> hello  </button>-->
    {{>navbar}}

    <!-- main header -->

    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpg" alt="neel" class="img-fluid" title="neel chodvadiya">
                      </figure> 
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome to weather app </p>
                        <h1> I Am A  <span class="text_clr">Mern Stack Developer </span> ,Youtuber And A Freelancer</h1>
                        <a href="https://github.com/Neelchodvadiya"  target="_neel "><button>About me </button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footr code-->
    {{>footer}}
            </body>

</html>